<app-admin>
  <p class="h3 pt-3 pb-3">Recipes</p>
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Type of Meal</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.id }}</td>
      <td>{{ recipe.title }}</td>
      <td>{{ recipe.typeOfMeal }}</td>
      <td class="p-3">
        <fa-icon [icon]="faEdit" (click)="openEditRecipe(recipe.id)"></fa-icon>
        <fa-icon class="text-danger ml-3" [icon]="faTrashAlt" (click)="deleteRecipe(recipe)"></fa-icon>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary mt-3" (click)="openAddRecipe()">Add</button>
</app-admin>
