<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-6">
          <div class="row">
            <div class="col-lg-12 col-md-12 mt-4 pt-2">
              <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                <img src="./assets/images/Tarik.jpg" class="img-fluid" alt="Image"/>
                <div class="img-overlay bg-dark"></div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-12 col-md-12 mt-4 pt-2">
              <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                <img src="./assets/images/Amir.jpg" class="img-fluid" alt="Image" style="height: 280px;"/>
                <div class="img-overlay bg-dark"></div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-6 mt-15">
          <div class="row" style="margin-top: 150px;">
            <div class="col-lg-12 col-md-12">
              <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                <img src="./assets/images/Dzenita.jpg" class="img-fluid" alt="Image"/>
                <div class="img-overlay bg-dark"></div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-12 col-md-12 mt-4 pt-2">
              <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                <img src="./assets/images/Armin.png" class="img-fluid" alt="Image"/>
                <div class="img-overlay bg-dark"></div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end col-->

    <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
      <div class="section-title ml-lg-5">
        <h5 class="font-weight-normal mb-3 aboutustext">About Us</h5>
        <h4 class="title mb-4">
          Our mission is to <br/>
          make your life easier.
        </h4>
        <p class="text-muted mb-0 text-paragraph">
          Foodie application was created by Dženita Đulović, Armin Salihović, Tarik Heleg and Amir Hadžić,
          4 students from SSST University with the assistance of professor Edin Fazlic.
          Foodie is only a small step for our team but huge step for mankind.
          We strive to create the best possible solutions for any type of requirements.</p>
        <div class="row">
          <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
              <i class="fa fa-play h4 mb-0" style="color: #FF7F50;"></i>
              <h6 class="ml-3 mb-0"><a [routerLink]="['/recipes']" class="text-dark">Explore Recipes</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--enr row-->
</div>
